@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-white font-sans antialiased;
    /* Prevent horizontal scrollbars which can cause unwanted white space */
    overflow-x: hidden;
  }
}

@layer components {
  #orientation-lock-overlay {
    @apply fixed inset-0 z-[100] bg-gray-900 text-white flex-col items-center justify-center text-center p-8 hidden; /* hidden by default */
  }
}

/* Show overlay and hide app only on mobile/tablet devices in landscape */
@media (min-width: 320px) and (max-width: 1023px) and (orientation: landscape) {
  #root, #modal-root {
    display: none; /* Hide the app content */
  }
  #orientation-lock-overlay {
    display: flex; /* Show the overlay */
  }
}

.map-tiles-dark {
  filter: brightness(1.4) contrast(0.9) saturate(0.9);
}